<p style="text-align: center;">&nbsp;</p>
<h1 style="text-align: center;">Perhaps, something important will appear here later 😁</h1>
<p>&nbsp;</p>
<p><img alt="" height="159" src="http://risovach.ru/upload/2016/12/mem/kotik_131281673_orig_.jpg" width="260" style="display: block; margin-left: auto; margin-right: auto;" /></p>
<p></p>
<p><em>Today you have two news</em>:</p>
<table class="demoTable" style="height: 54px;" border="есть">
<thead>
<tr style="height: 18px;">
<td style="height: 18px; width: 230.5px; text-align: center;">&nbsp;Good news</td>
<td style="height: 18px; width: 227.5px; text-align: center;">Better news</td>
</tr>
</thead>
<tbody>
<tr style="height: 36px;">
<td style="height: 36px; width: 230.5px; text-align: center;">Your horoscope says today: You are so clever and beautiful today!</td>
<td style="height: 36px; width: 227.5px; text-align: center;">I will be more than a horoscope for you</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>